.chart-wrapper {
    width: 50%;
    height: 50%;;
}

h1 {
    background-color: #c5bdbd;
    text-align: center;
    padding: 20px;
}

.landing-page {
    justify-content: center;
}

.form-custom {
    padding: 10px 20px;
}